@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap");
/* 

  滾動條

*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
}

/* 

  原生全局元素

*/

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* 字體 */
body,
input,
select,
button,
textarea {
  font-family: "Noto Sans TC", sans-serif;
  color: #bbb;
  font-size: 20px;
}
h1 {
  color: white;
}
:lang(en) {
  font-family: "Rajdhani", sans-serif;
}
input,
select,
textarea {
  color: white;
  border-radius: 5px;
  padding: 5px;
  border-width: 0;
  box-shadow: inset 3px 5px 0px 0px rgba(100, 100, 100, 0.35),
    inset 4px 7px 16px 5px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 3px 0px inset,
    rgba(0, 0, 0, 0.15) 0px 3px 7px 3px inset;
  resize: none;
}
select {
  cursor: pointer;
  outline: 0;
}
button {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
}

/* 

  自定義全局元素

*/

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  pointer-events: none;
  width: 40px;
  height: 40px;
  clip-path: inset(0);
}
.icon-container img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.label-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  clip-path: inset(0);
}
.label-container > label:nth-child(1) {
  color: white;
  position: relative;
}
.label-container > label:nth-child(2) {
  color: #ea81af;
  font-weight: bold;
  position: absolute;
}

.select-container,
.textarea-container,
.input-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-container > select {
  position: relative;
  width: auto;
  height: auto;
}
.textarea-container > textarea {
  position: relative;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  height: 100%;
  resize: none;
}
.input-container > input {
  position: relative;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  height: 100%;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
  z-index: 5;
  color: white;
}

/* createBulb */
.bulb-container,
.bulb {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.bulb {
  background-color: #00000000;
  box-shadow: 0px 0px 20px #00000000;
  border-radius: 50%;
}
.bulb-filter {
  background: radial-gradient(
    circle at 5px 5px,
    hsla(240, 0%, 0%, 0),
    hsla(240, 0%, 0%, 0.35),
    hsla(240, 0%, 0%, 0.9)
  );
  filter: blur(0.5px);
  border-radius: 50%;
}
