#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
  z-index: 10;
}

#favicon {
  position: absolute;
  left: 20px;
  width: 80px;
  height: auto;
}

h1 {
  position: absolute;
  left: 110px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

#search-container {
  position: relative;
  display: flex;
}

#search-img-container {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#search {
  position: relative;
  height: 100%;
  width: 100%;
}

#search-clip-path {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: circle(10px at 16.5px 17px);
  pointer-events: none;
}

.search-inner {
  position: absolute;
  width: 12%;
  height: 150%;
  background-color: #ffff7a;
}

#search-input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* 以下需與input相同 */
  padding: 5px;
  width: 400px;
  height: 30px;
}

#search-input {
  outline: none;
  position: absolute;
  padding: 5px;
  width: 400px;
  height: 30px;
}

#search-erase-container {
  position: relative;
  display: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 10px;
}

#search-erase-line,
#search-erase {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#filter-container {
  position: absolute;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#filter-container label {
  margin-right: 10px;
}

#filter-select-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 40px;
}

#filter-select {
  outline: 0;
  position: absolute;
  padding: 5px;
  width: 110px;
  height: 40px;
}
