.pop-up {
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
  z-index: 5;
}

#cleared {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 99;
}

#cleared-check-label-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  clip-path: inset(0);
}

#cleared-check-label-red {
  position: absolute;
}

#cleared-check-label-white {
  position: relative;
}

#cleared-cancel-label-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  clip-path: inset(0);
}

#cleared-cancel-label-red {
  position: absolute;
}

#cleared-cancel-label-white {
  position: relative;
}
