#task-container {
  position: absolute;
  width: auto;
  top: 100px;
  left: 260px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.separator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: grab;
  position: relative;
  /* 來自hr */
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-style: solid;
  border-width: 1px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 50%;
  max-width: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: hsla(200, 0%, 15%, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
  cursor: grab;
}

.task-item > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.task-content {
  align-items: baseline;
}

.task-function-container {
  align-items: center;
}

.task-delete {
  position: absolute;
  left: -60px;
  width: 40px;
  height: 40px;
}

.separator > .task-delete {
  left: -61px;
}

.task-category-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 3em;
  height: 40px;
}

.task-category {
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  background-color: hsla(200, 0%, 15%, 1);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
  text-align: center;
  width: 100%;
  font-weight: bold;
  z-index: 2;
  pointer-events: none;
}

.task-category-select {
  position: absolute;
  width: 85%;
  height: 85%;
  z-index: 1;
  cursor: pointer;
}

.task-text {
  margin: 1em;
}

.task-copy-container {
  position: relative;
  margin: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.task-copy-left,
.task-copy-right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#copied {
  position: absolute;
}

.task-status-container {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
}

.task-status-display-container {
  clip-path: inset(0 round 10px);
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.task-status-display {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
}

.task-status-display.U {
  background-color: #bbb;
}

.task-status-display.S {
  background-color: #92e9ff;
}

.task-status-display.O {
  background-color: #8ce197;
}

.task-status-display.F {
  background-color: #ea81af;
}

.task-status-options {
  opacity: 0;
  width: 85%;
  height: 85%;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

p.editing {
  outline: 1px solid #ffffff;
  outline-offset: 10px;
  border-radius: 1px;
  cursor: text;
}
