#task-container-scroller {
  position: fixed;
  top: 100px;
  left: 260px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#task-container {
  position: absolute;
  width: 100%;
  min-height: 350px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.separator {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: grab;
  position: relative;
  /* 來自hr */
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-style: solid;
  border-width: 1px;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-width: 50%;
  max-width: fit-content;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 20px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
  cursor: grab;
}

.task-item > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-function-container {
  justify-content: space-between;
  align-items: center;
  min-width: 90px;
  margin-left: 20px;
}

.task-delete {
  position: absolute;
  top: 10px;
  left: -50px;
  width: 40px;
  height: 45px;
  cursor: pointer;
}

.separator > .task-delete {
  top: auto;
  left: -51px;
}

.task-category-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  margin-right: 20px;
  min-width: 70px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
  border-radius: 10px;
}

.task-category-display-container {
  clip-path: inset(1px round 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

.task-category-display {
  position: absolute;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  z-index: 2;
  pointer-events: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
}

.task-category-display.未分類 {
  background-color: #bbb;
}
.task-category-display.PJ24 {
  background-color: #ffff7a;
}
.task-category-display.PJ25,
.task-category-display.PJ26 {
  background-color: #8ce197;
}
.task-category-display.PJ27,
.task-category-display.PJ28 {
  background-color: #92e9ff;
}
.task-category-display.PJ29,
.task-category-display.PJ30 {
  background-color: #ea81af;
}

.task-category-select {
  position: absolute;
  width: 85%;
  height: 85%;
  z-index: 1;
  cursor: pointer;
}

.task-text {
  white-space: pre-wrap;
  text-wrap: pretty;
  margin: 0;
  transition: width cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  overflow-y: hidden;
}

.task-copy-container {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.task-copy-left,
.task-copy-right {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#copied {
  position: absolute;
  pointer-events: none;
}

.task-status-container {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
  border-radius: 10px;
}

.task-status-display-container {
  clip-path: inset(1px round 10px);
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.task-status-display {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  pointer-events: none;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
}

.task-status-display.U {
  background-color: #bbb;
}

.task-status-display.S {
  background-color: #92e9ff;
}

.task-status-display.O {
  background-color: #8ce197;
}

.task-status-display.F {
  background-color: #ea81af;
}

.task-status-options {
  opacity: 0;
  width: 85%;
  height: 85%;
  border-radius: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

p.editing {
  outline: 1px solid #ffffff;
  outline-offset: 10px;
  border-radius: 1px;
  cursor: text;
}
