body {
  background-color: hsl(210, 15%, 15%);
}

::-webkit-scrollbar-track {
  background-color: hsl(210, 15%, 15%);
}
::-webkit-scrollbar-thumb {
  background: hsl(210, 0%, 35%);
}
::-webkit-scrollbar-thumb:hover {
  background: hsl(210, 0%, 60%);
}

button,
.pop-up,
.date-select {
  background-color: hsl(240, 5%, 10%);
}

#header,
#version-display {
  background-color: hsl(240, 5%, 10%);
}

#sidebar {
  background-color: hsl(225, 7.5%, 5%);
}

#right-panel {
  background-color: hsla(210, 0%, 10%, 0.7);
  backdrop-filter: blur(10px);
}

.task-item {
  background-color: hsl(225, 10%, 23%);
}

input,
select,
textarea {
  background-color: hsl(210, 0%, 25%);
}
