/* 

  滾動條

*/

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* 

  原生全局元素

*/

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* 字體 */
body,
input,
select,
button,
textarea {
  font-family: "Noto Sans TC", sans-serif;
  color: white;
  font-size: 20px;
}
input,
select,
textarea {
  border-radius: 10px;
  padding: 5px;
  border-width: 0;
  box-shadow: inset 3px 5px 0px 0px rgba(100, 100, 100, 0.35),
    inset 4px 7px 16px 5px rgba(0, 0, 0, 0.5);
  resize: none;
}
select {
  cursor: pointer;
  outline: 0;
}
button {
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
}

/* 

  自定義全局元素

*/

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  pointer-events: none;
  width: 40px;
  height: 40px;
  clip-path: inset(0);
}
.icon-container img {
  position: absolute;
  width: 40px;
  height: 40px;
}

.label-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  clip-path: inset(0);
}
.label-container > label:nth-child(1) {
  color: white;
  position: relative;
}
.label-container > label:nth-child(2) {
  color: #ea81af;
  position: absolute;
}

.select-container,
.textarea-container,
.input-container {
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.select-container > select {
  position: relative;
  width: auto;
  height: auto;
}
.textarea-container > textarea {
  position: relative;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  height: 100%;
  resize: none;
}
.input-container > input {
  position: relative;
  box-sizing: border-box;
  outline: 0;
  width: 100%;
  height: 100%;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
  z-index: 5;
}
