#header .search-input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#header .category-select {
  position: relative;
  pointer-events: none;
}

.category-select > .custom-select {
  transform-origin: top;
  scale: 1.1;
}
.search-input > :last-child {
  margin-left: 10px;
  position: absolute;
  right: 10px;
  width: 35px;
  height: 35px;
}
