@import url("bottom.css");
@import url("top.css");

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 240px;
  padding: 10px;
  padding-top: 110px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
  z-index: 5;
  /* init */
  opacity: 0;
  visibility: hidden;
  translate: -270px 0px;
}
