.sidebar-top-container {
  position: absolute;
  width: 240px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.sidebar-top-container > .date-select {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 4px,
    rgba(0, 0, 0, 0.35) 10px 12px 3px -3px,
    rgba(0, 0, 0, 0.45) 0px -5px 0px inset,
    rgba(255, 255, 255, 0.1) 2px 5px 10px -3px inset;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.sidebar-top-container > .btn {
  margin: 10px;
}
.sidebar-top-container > .separator {
  cursor: default;
}

.sidebar-top-container > .sidebar-top-btns-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 10px;
}
.sidebar-top-btns-container > button {
  position: relative;
  width: 50%;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.sidebar-top-btns-container .circle {
  position: relative;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background-color: white;
}
