@import url("task.css");

#content {
  position: fixed;
  top: 100px;
  left: 260px;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#tasks-container {
  position: absolute;
  width: 100%;
  min-height: 350px;
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
